<header class="header">
<div class="navigation">
<ul class="menu">
  {% for item in site.data.nav-links %}
    {% if item.permalink == page.url %}
      {% for link in item.links %}
        <li class="menu__entry"><a href="{{ link.href }}/">{{link.text}}</a></li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
</div>
<ul class="social-links">
{% if psalms2beloved@gmail.com %}
<a href="mailto:{{ psalms2beloved@gmail.com }}" class="social-links__entry" target="_blank">
<i class="fas fa-envelope-square"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://psalms2beloved.bandcamp.com/ }}" class="social-links__entry" target="_blank">
<i class="fab fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
<i class="fab fa-linkedin-in"></i>
</a>
{% endif %}
{% if site.rss %}
<a href="{{ site.baseurl }}/feed.xml" class="social-links__entry" target="_blank">
<i style="color: rgba( 254, 164, 1, 100%);" class="fas fa-rss"></i>
</a>
{% endif %}
</ul>
</header>
