body {
  
  font-family: 'Volkorn', serif;
  font-size: 100%;
  color: rgb(144, 79, 228);
 
  /* background-color: #EADDD9; */
}
a {
    color: rgb(35, 138, 14);
    text-decoration: none; }
  

.header {
  font-family: 'Volkorn', serif;
 
  font-size: 100%;
  color: #6c4d5e;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    padding-top: 50px;
    font-weight: 500; }

.wrapper {
    max-width: 80%;
    margin: 60px auto; }

 .header {
    
    overflow: shown;
    padding: 10px; }

.about {
    color: #828282;
    text-align: center;
    line-height: 24px;
    padding: 300px; }

  .about__devider {
    font-size: 100%;
    letter-spacing: 9.09px;
    text-indent: 9.09px;}

  .about__text {
    font-size: 100%; }

  .center-text {
    text-align: center;
  }
  .page-title__subtitle {
    font-weight: 400;
    font-size: 60%;
    color: #5f2f2f; }
